<ul >
  {{#events}}
    <li style="color:lightsteelblue">
        <h2>{{ title }}</h2>
        <p>{{ description }}</p>
        <p style="color:lightgreen">At: {{ location }}</p>
        <p style="color: lightsalmon">When: {{ time }} </p>
        <p style="color: royalblue">Priority: {{ priority  }}</p>
        <form action="/delete?id={{id}}" method="post">
            <input style="background-color: lightcoral;" type="submit" name="delete" value="Delete">
        </form>
    </li>
    <button type="button">Like</button>
        <a href="#" title="Love it" class="btn btn-counter multiple-count" data-count="0"><span>&#x2764;</span> Love it</a>
    <hr style="border-color:black"/>
  {{/events}}

</ul>